
                <div class="container-fluid">
                    <div class="card shadow" id="corpoPagina">
                        <p>Página da administração da ong ABPA. Nela é possível armazenar os itens donativos, os patrimônios da ong e os eventos realizados ou que serão realizados pela mesma.</p>
                    </div>
                </div>
                <!-- /.container-fluid -->
            