<link rel="stylesheet" type="text/css"  media="print" href="/css/print.css">
                <div class="container-fluid">
                    <h1>Listagem de locação de patrimônios</h1>
<div style="margin-bottom: 15px;display: flex;">
    <a class="btn btn-primary" href="/patrimonio/alocacao">Alocar</a>
    <button id="btnExportarExcel" class="btn btn-primary" style="margin: 0px 30px 0px 30px;" >Exportar para Excel</button>
    <button id="btnExportarPdf"  onclick="window.print()" class="btn btn-danger">Exportar para PDF</button>
</div>
    <div>
        <table class="table table-striped" id="tablePatrimonio">
            <thead>
                <th>Patrimônio</th>
                <th>Evento</th>
            </thead>
            <tbody>
                <% for (let i = 0; i < lista.length; i++)  { %>
                    <tr>
                        <td><%= lista[i].pat_etiqueta %></td>
                        <td><%= lista[i].evento_cad %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    </div>
    <!-- /.container-fluid -->
    <script src="https://cdn.sheetjs.com/xlsx-0.20.2/package/dist/xlsx.full.min.js"></script>