    <main id="main" data-aos="fade-in">
  
      <!-- ======= Breadcrumbs ======= -->
      <div class="breadcrumbs">
        <div class="container">
          <h2>Notícia e Histórias</h2>
        </div>
      </div><!-- End Breadcrumbs -->
  
      <!-- ======= Courses Section ======= -->
      <section id="courses" class="courses">
        <div class="container" data-aos="fade-up">
  
          <div class="row" data-aos="zoom-in" data-aos-delay="100">
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="course-item">
                <img src="/img/terra.png" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4>Desmatamento</h4>
                  </div>
  
                  <h3><a href="">
                    Preservando nossa
                    natureza</a></h3>
                  <p>A preservação da natureza é
                    um tema de grande
                    importância para a
                    sustentabilidade do planeta.</p>
                  <div class="trainer d-flex justify-content-between align-items-center">
  
                    <div class="trainer-rank d-flex align-items-center">
                      <i class="bx bx-user"></i>&nbsp;50
                      &nbsp;&nbsp;
                      <i class="bx bx-heart"></i>&nbsp;65
                    </div>
                  </div>
                </div>
              </div>
            </div> <!-- End Course Item-->
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
              <div class="course-item">
                <img src="/img/arara.png" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4>Faúna em extinção</h4>
                  </div>
  
                  <h3><a href="">Protegendo a vida das
                    araras</a></h3>
                  <p>As araras são aver exóticas.
                    Infelizmente, essas aves
                    estão em risco de extinção
                    devido à degradação do seu
                    habitat natural e à caça
                    predatória.</p>
                  <div class="trainer d-flex justify-content-between align-items-center">
  
                    <div class="trainer-rank d-flex align-items-center">
                      <i class="bx bx-user"></i>&nbsp;35
                      &nbsp;&nbsp;
                      <i class="bx bx-heart"></i>&nbsp;42
                    </div>
                  </div>
                </div>
              </div>
            </div> <!-- End Course Item-->
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
              <div class="course-item">
                <img src="/img/arvore.png" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4>Belezas naturais</h4>
                  </div>
  
                  <h3><a href="">Descobrindo a riqueza da
                    fauna brasileira</a></h3>
                  <p>Conhecer e valorizar essa
                    riqueza é fundamental para
                    a preservação ambiental e o
                    desenvolvimento do
                    turismo ecológico.</p>
                  <div class="trainer d-flex justify-content-between align-items-center">
                    <div class="trainer-rank d-flex align-items-center">
                      <i class="bx bx-user"></i>&nbsp;20
                      &nbsp;&nbsp;
                      <i class="bx bx-heart"></i>&nbsp;85
                    </div>
                  </div>
                </div>
              </div>
            </div> <!-- End Course Item-->
  
          </div>
  
        </div>
      </section><!-- End Courses Section -->
  
    </main><!-- End #main -->
    