    <main id="main">
  
      <!-- ======= Breadcrumbs ======= -->
      <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
          <h2>Apoie um dos nossos projetos</h2>
          <p>Coletivamente, podemos salvar o meio
            ambiente do nosso país, apoie um dos nossos
            projetos. </p>
        </div>
      </div><!-- End Breadcrumbs -->
  
      <!-- ======= Events Section ======= -->
      <section id="events" class="events">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
            <div class="col-md-6 d-flex align-items-stretch">
              <div class="card">
                <div class="card-img">
                  <img src="/img/ong.jpg" alt="...">
                </div>
                <div class="card-body">
                  <h5 class="card-title"><a href="">Reflorestamento do parque do morro do diabo.</a></h5>
                  <p class="fst-italic text-center">Teodoro Sampaio, SP</p>
                  <p class="card-text">Nossa missão é plantar novas mudas por toda extenção do parque estadual preservando a faúna e flora local.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch">
              <div class="card">
                <div class="card-img">
                  <img src="/img/onca.jpg" alt="...">
                </div>
                <div class="card-body">
                  <h5 class="card-title"><a href="">Salve o maior felino da América Latina.</a></h5>
                  <p class="fst-italic text-center">Reserva de Desenvolvimento Sustentável Amanã, Amazonas, AM</p>
                  <p class="card-text">Estamos dedicados a preservar a magnífica onça pintada, um felino nos encanta com sua força e beleza, evitando assim sua extinção.</p>
                </div>
              </div>
  
            </div>
          </div>
  
        </div>
      </section><!-- End Events Section -->
  
    </main><!-- End #main -->
    