    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
          <h2>Doações</h2>
          <p>Restaurar a natureza é defendar a vida e o nosso futuro</p>
        </div>
      </div><!-- End Breadcrumbs -->
  
      <!-- ======= Pricing Section ======= -->
      <section id="pricing" class="pricing">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
  
            <div class="col-lg-3 col-md-6">
              <div class="box">
                <h4><sup>R$</sup>20<span> / por mês</span></h4>
                <div class="btn-wrap">
                  <a href="#" class="btn-buy" data-bs-toggle="modal" data-bs-target="#modalPagamento">Doe agora</a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
              <div class="box">
                <h4><sup>R$</sup>35<span> / por mês</span></h4>
                <div class="btn-wrap">
                  <a href="#" class="btn-buy" data-bs-toggle="modal" data-bs-target="#modalPagamento">Doe agora</a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
              <div class="box">
                <h4><sup>R$</sup>50<span> / por mês</span></h4>
                <div class="btn-wrap">
                  <a href="#" class="btn-buy" data-bs-toggle="modal" data-bs-target="#modalPagamento">Doe agora</a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
              <div class="box">
                <span class="advanced">Advanced</span>
                <h4><sup>R$</sup>100<span> / por mês</span></h4>
                <div class="btn-wrap">
                  <a href="#" class="btn-buy" data-bs-toggle="modal" data-bs-target="#modalPagamento">Doe agora</a>
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Pricing Section -->
      
    </main><!-- End #main -->
    
    <div class="modal fade" id="modalPagamento" tabindex="-1" aria-labelledby="modalPagamentoLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" style="background-color: #5fcf80; color: white;">
            <h5 class="modal-title" id="modalPagamentoLabel">Formulário de Pagamento</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
          </div>
          <div class="modal-body">
            <!-- Seu formulário de pagamento aqui -->
            <form class="">
              <!-- Campos do formulário -->
              <div class="mb-3">
                <label for="nomeCartao" class="form-label">Nome no Cartão</label>
                <input type="text" class="form-control" id="nomeCartao" placeholder="Nome completo" required>
              </div>
              <div class="mb-3">
                <label for="numeroCartao" class="form-label">Numero do Cartão</label>
                <input type="text" class="form-control" id="numeroCartao" placeholder="XXXX-XXXX-XXXX-XXXX" required>
              </div>
              <div class="row">
                <div class="col">
                  <label for="dataVencimento" class="form-label">Data de Vencimento</label>
                  <input type="text" maxlength="5" class="form-control" id="dataVencimento" placeholder="MM/AA" required>
                </div>
                <div class="col">
                  <label for="cvv" class="form-label">CVV</label>
                  <input type="text" class="form-control" id="cvv" placeholder="123" maxlength="3" required>
                </div>
                <div>
                  <label for="email">CPF</label>
                  <input type="text" class="form-control" name="cpf" id="cpf" placeholder="Ex: 000.000.000-00" onblur="mascaraCpf(event)"
                  onblur="validacaoCPF(event)" maxlength="14" required>
                </div>
                <div>
                  <label for="email">Email</label>
                  <input type="email" class="form-control" name="email" id="email" placeholder="Ex: exemplo@email.com" required>
                  <p id="emailError" class="error-message"></p>
                </div>
                <div>
                  <label for="phone">Celular</h5></label>
                  <input type="phone" name="phone" class="form-control" id="phone" placeholder="Ex: (12)93456-7890" required onblur="validacaoCel(event)" maxlength="11">
                </div>
              </div>
              <!-- Outros campos do formulário -->
              <!-- ... -->
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" style="background-color: rgba(255, 57, 57, 0.611);" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="button" style="background-color: #5fcf80;" class="btn btn-primary">Enviar Pagamento</button>
          </div>
        </div>
      </div>
    </div>
  
    
    <script src="/public/js/usuarios/validacao.js"></script>
    <script>
      document.getElementById("dataVencimento").addEventListener("input", function() {
        // Remove qualquer caractere que não seja um número
        this.value = this.value.replace(/\D/g, "");

        // Formata o valor com a barra entre os dois primeiros e os dois últimos dígitos
        if (this.value.length > 2) {
          this.value = this.value.replace(/(\d{2})(\d{2})/, "$1/$2");
        }
      });

      document.getElementById("numeroCartao").addEventListener("input", function() {
        // Remove todos os espaços e não dígitos
        var inputValue = this.value.replace(/\D/g, "");

        // Insira os espaços após cada grupo de quatro dígitos
        inputValue = inputValue.replace(/(\d{4})(?=\d)/g, "$1 ");

        // Limite o valor a 19 caracteres
        if (inputValue.length > 19) {
          inputValue = inputValue.substring(0, 19);
        }

        // Atualize o valor do campo
        this.value = inputValue;
      });

      document.getElementById("cvv").addEventListener("input", function() {
        // Remove todos os caracteres não numéricos
        this.value = this.value.replace(/\D/g, "");
      });
</script>