
                <div class="container">
                    <h1>Cadastro de Patrimonios</h1>
                    <div>
                        <% if (typeof msg != "undefined") { %>             
                            <span><%= msg %></span>
                        <% } %>
                    </div>
                    <div>
                        <div>
                            <div>
                                <div class="form-group">
                                    <label for="quantidadePatrimonio" class="form-label">Quantidade do patrimonio:</label>
                                    <input type="number" class="form-control" id="quantidadePatrimonio" name="quantidadePatrimonio">
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    <label for="tipoPatrimonio" class="form-label">Tipo de patrimonio:</label>
                                    <input type="text" maxlength="45" placeholder="Tipo do patrimonio aqui" class="form-control" id="tipoPatrimonio" name="local">
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    <label for="nomePatrimonio" class="form-label">Nome do patrimonio:</label>
                                    <input type="text" maxlength="45" placeholder="Nome do patrimonio aqui" class="form-control" id="nomePatrimonio" name="local">
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-primary" id="btnCadastrarPatrimonio" type="button">Cadastrar</button>
                                <a class="btn btn-danger" href="/admin/listarPatrimonio">Voltar</a>
                            </div>
                        </div>
                    </div>
                </div>
            
    <script src="/js/admin/addPatrimonio.js"></script>
