
                <div class="container">
                    <h1>Alterar Patrimonio</h1>
                    <div>
                        <% if (typeof msg != "undefined") { %>             
                            <span><%= msg %></span>
                        <% } %>
                    </div>
                    <div>
                        <div>
                            <div>
                                <div class="form-group">
                                    <label for="quantidadePatrimonio" class="form-label">Quantidade do patrimonio:</label>
                                    <input type="number" class="form-control" id="quantidadePatrimonio" name="quantidadePatrimonio" value="<%= patrimonio.quantidadePatrimonio %>">
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    <label for="tipoPatrimonio" class="form-label">Tipo de patrimonio:</label>
                                    <input type="text" maxlength="45" class="form-control" id="tipoPatrimonio" name="local" value="<%= patrimonio.tipoPatrimonio %>">
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    <label for="nomePatrimonio" class="form-label">Nome do patrimonio:</label>
                                    <input type="text" maxlength="45" class="form-control" id="nomePatrimonio" name="local" value="<%= patrimonio.nomePatrimonio %>">
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-primary" id="btnAlterarPatrimonio" type="button">Alterar</button>
                                <a class="btn btn-secondary" href="/admin/home">Voltar</a>
                            </div>
                        </div>
                    </div>
                </div>
            
    <script src="/js/admin/alterarPatrimonio.js"></script>
