
                <div class="container">
                    <h1>Cadastro de Eventos</h1>
                    <div>
                        <% if (typeof msg != "undefined") { %>             
                            <span><%= msg %></span>
                        <% } %>
                    </div>
                    <div>
                        <div>
                            <div>
                                <div class="form-group">
                                    <label for="nome" class="form-label">Nome do Evento:</label>
                                    <input type="text" maxlength="45" placeholder="Ex: Bingo" class="form-control" id="nome" name="nome">
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    <label for="data" class="form-label">Data do Evento:</label>
                                    <input type="date" maxlength="10" placeholder="dd/mm/aaaa" class="form-control" id="data" name="data">
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    <label for="local" class="form-label">Local do Evento:</label>
                                    <input type="text" maxlength="45" placeholder="Ex: Salão Comunitário" class="form-control" id="local" name="local">
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    <label for="desc" class="form-label">Descrição do Evento:</label><br>
                                    <input type="text" id="desc" name="desc" maxlength="255" placeholder="Informe a descrição do evento..." class="form-control">
                                    
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    <label for="patrimonio" class="form-label">Patrimonio:</label>
                                    <select class="form-control" id="patrimonio">
                                        <option value="0">Selecione</option>
                                        <% for(let i = 0; i<listaPatrimonio.length; i++) { %>
                                            <option value="<%=listaPatrimonio[i].patrimonioId %>"><%= listaPatrimonio[i].nomePatrimonio %></option>
                                        <% } %> 
                                    </select>
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    <label for="quantidade" class="form-label">Quantidade:</label>
                                    <input style="width: 100px;" type="number" class="form-control" id="quantidade" name="quantidade">
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-primary" id="btnCadastrarEvento" type="button">Cadastrar</button>
                                <a class="btn btn-danger" href="/evento">Voltar</a>
                            </div>
                        </div>
                    </div>
                </div>
    <script src="/js/admin/addEvento.js"></script>


