
                <div class="container">
                    <h1>Cadastro de Eventos</h1>
                    <div>
                        <% if (typeof msg != "undefined") { %>             
                            <span><%= msg %></span>
                        <% } %>
                    </div>
                    <div>
                        <div>
                            <div>
                                <div class="form-group">
                                    <label for="data" class="form-label">Data do Evento</label>
                                    <input type="date" maxlength="10" placeholder="dd/mm/aaaa" class="form-control" id="data" name="data">
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    <label for="local" class="form-label">Local do Evento</label>
                                    <input type="text" maxlength="45" placeholder="Local do evento aqui" class="form-control" id="local" name="local">
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-primary" id="btnCadastrarEvento" type="button">Cadastrar</button>
                                <a class="btn btn-danger" href="/admin/listarEvento">Voltar</a>
                            </div>
                        </div>
                    </div>
                </div>
    <script src="/js/admin/addEvento.js"></script>
