
<div class="container">
    <h1>Cadastro de Doação Material</h1>
    <div>
        <% if (typeof msg != "undefined") { %>             
            <span><%= msg %></span>
        <% } %>
    </div>
    <div>
        <div>
            <div>
                <div class="form-group">
                    <label for="tipoDoacaoMaterialId" class="form-label">Tipo de doação:</label>
                    <select class="form-control" id="tipoDoacaoMaterialId" name="tipoDoacaoMaterialId">
                        <option selected value="0">Selecione...</option>
                        <% for(let i = 0; i<listaTipo.length; i++) { %>
                            <option value="<%= listaTipo[i].tipoDoacaoMaterialId %>"><%= listaTipo[i].tipoDoacaoMaterialNome %></option>
                        <% } %>
                    </select>
                </div>
            </div>
            <div>
                <div class="form-group">
                    <label for="quantDoacao" class="form-label">Quantidade da doaçao:</label>
                    <input type="number" class="form-control" id="quantDoacao" min="0" max="999999" keydown="validarQuantidade(this)" name="quantDoacao">
                </div>
            </div>
            <div>
                <button class="btn btn-primary" id="btnCadastrarDoacaoMaterial" type="button">Cadastrar</button>
                <a class="btn btn-danger" href="/doacao">Voltar</a>
            </div>
        </div>
    </div>
</div>
<script src="/js/admin/addDoacaoMaterial.js"></script>
<script>
    function validarQuantidade(input) {
        const valor = parseInt(input.value);
        const maximo = parseInt(input.getAttribute('max'));
        
        if (valor > maximo) {
            document.getElementById('erroQuantidade').style.display = 'block';
            input.setCustomValidity('Quantidade máxima permitida: 999.999');
        } else {
            document.getElementById('erroQuantidade').style.display = 'none';
            input.setCustomValidity('');
        }
    }
</script>
