<div>
    <h1>Categorias cadastradas</h1>
    <div style="margin-bottom: 15px;">
        <button id="btnExportarExcel" class="btn btn-primary" >Exportar para Excel</button>
    </div>
    <div  class="table-responsive" style="margin-top: 15px;">
        <table id="tableCategoria" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                </tr>
            </thead>
            <tbody>
                <% lista.map(function(value, index) { %>
                    <tr>
                        <td><%= value.categoriaId %></td>
                        <td><%= value.categoriaNome %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>
<script src="/js/produto/listarCategoria.js"></script>
<script src="https://cdn.sheetjs.com/xlsx-0.20.2/package/dist/xlsx.full.min.js"></script>